th {
    text-align: left;
}
td {
    padding: 0px 4px 0px 1px;
}

.red {
    color: red;
}
.green {
    color: green;
}
.yellow {
    color: #DAA520;
}
.black {
    color: black;
}
.purple {
    color: #aa00ff;
}
.dred {
     color: #c9070a;
}

.bold {
    font-weight: bold;
}