/*
 * @package    TeamSpeak 3 Style
 * @author     Alexandr Musikhin 'tophackr' <tophackr@icloud.com>
 * @link       https://gitlab.com/tophackr/MJV
 */

QTabWidget::tab-bar {
    alignment: left;
}

QTreeView::branch:selected {
    background-color: #292A2F;
}

QDockWidget {
    color: #000000;
}

DragDropServerview QWidget {
    color: #FFFFFF;
}