/*
 * @ended      05.12.2017
 * @package    TeamSpeak 3 Style
 * @author     Alexandr Musikhin 'tophackr' <tophackr@icloud.com>
 * @link       https://tophackr.com
 */

/* Button hover is transparent with Vista style only */
QToolButton#newBookmarkButton:hover, QToolButton#newBookmarkFolderButton:hover, QToolButton#removeBookmarkButton:hover {
	color: white;
}
